<!-- header  -->
<header>

  <!-- A grey horizontal navbar that becomes vertical on small screens -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <!-- Links for the header navigation-->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Coins</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Exchanges</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">API</a>
      </li>

      <!--the logo and the app name should appear here  -->
      <li class="nav-item">
        <a class="nav-link" href="#">Coin Universe</a>
      </li>

      <!-- to do fill in all the possible currencies -->
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        USD
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">XAF</a>
        <a class="dropdown-item" href="#">BTC</a>
        <a class="dropdown-item" href="#">Naira</a>
      </div>
    </li>

    </ul>

  </nav>
</header>

<!-- this section is to show the top five crytocurrency -->
<section id="chartSection" class="container-fluid">
  <div class="row">
    Top five Crypto currencies by market capitalization
    <div id="topChart"></div>
  </div>
</section>
<!-- end the chart section-->

<!-- this section displays information about the top 100 cryto currencies available -->
<section id="coinSection">
  <div class="container-fluid">     
    <div class="row" id = "cards">
      <!-- insert the cryto currency info here -->
       <!-- end inserting elements -->

    </div>
  </div>
</section>

<!-- api key for coinmarket   9a90cc4e-6800-4f28-9d16-8cb9c9e03239 -->

<footer id="footer">
  Copyright (c) 2018 <a href="/"><strong>Coin Universe</strong></a> All Rights Reserved.
  <br>
  API from  <a href="https://coincap.io/">coincap.io</a> <br/>
  <a href="https://chasing-coins.com">chasing-coins.com</a>
</footer>

